.heading{
    color: blue;
}

body {
    background-color: rgb(235, 167, 189);
}

button{
    background-color: rgb(245, 169, 245);
}


.box{
    height: 250px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(86, 54, 228);
}

.content {
    color: red;
}

.newClass {
    background-color: green;
}